*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
