* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.top-bar {
    background: #222;
    color: #fff;
    font-size: 14px;
    padding: 8px 0;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left span {
    margin-right: 20px;
}

.top-right a {
    color: #fff;
    margin-left: 12px;
    text-decoration: none;
}

/* MAIN HEADER */
.main-header {
    background: red;
    padding: 15px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.menu li a:hover {
    text-decoration: underline;
}

.btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
}

/* the part start */
#the {
    padding: 78px;
}

.the-main {
    display: flex;
    align-items: center;
}

.the-left h2 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}

/* the part end */

/* images part start */
.pic {
    width: 100%;
    justify-content: space-between;

}

.pic img {
    width: 23%;

}

/* images part end */

/* map part start */

.map {
    width: 100%;
}

.map img {
    width: 100%;
}

/* map part end */

/* wan part start */
#want {

    background-color: red;
}

.want-main {
    padding-top: 46px;
    padding-bottom: 46px;
    display: flex;
    justify-content: space-between;
}

.want-left h2 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.want-right {
    align-items: end;
}

.want-right button {
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 18px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    font-family: "Poppins", sans-serif;
}

/* wan part end */

/* Copyright part start */
#Copyright {
    padding: 46px;
    background-color: #282828;
}

.Copyright-text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #6C6C6C;
}

/* Copyright part end */